<% provide(:title, "Edit Wine") %>
<h1 class="h4">Edit Wine</h1>

<%= render 'form' %>

<%= link_to wines_path, class: 'btn btn-default btn-primary, foreground = black' do %>
    All Wines
    <span class="glyphicon glyphicon-glass"></span>
<% end %>


