<% provide(:title, "Add Wine") %>
<h1 class="h4">New Wine</h1>

<%= render 'form' %>

<%= link_to 'Back', wines_path %>

<!--
Looks ugly with the form
<%= link_to wines_path, class: 'btn btn-primary' do %>
    Back
    <span class="glyphicon glyphicon-glass"></span>
<% end %>
-->
